.header {
    height: 94px;
}

.table_container {
    height: calc(100% - 56px - 94px);
    overflow: auto;
}

/* .footer { was used for paginator
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
} */